#bd{}#content>.row-1{margin-bottom:30px}#content>.row-1>.row-in{}#content>.row-1>.row-in>.col-1{}#content>.row-1>.row-in>.col-1>.label{display:block;margin:30px
auto 0 auto;color:#262324}#page-title{margin:5px
0 0 0;padding:0;font-size:56px}#page-title>.value>i{text-transform:none;font-weight:inherit}#content>.row-2{}